body {

    font-family: 'poppins',sans-serif ;
}

header{background-color: cornflowerblue;
    
    color: aquamarine;
    
    }

    .cabecalho-imagem{


         width: 20%;

    }
    
    .cabecalho{

     background-color: darkcyan;
    color:black;
    display:flex;
    justify-content: space-around;

    }

.cabecalho-lista-item {

    display: inline-block;



    }