



header{background-color: cornflowerblue;
    
    color: aquamarine;
    
    }

    .cabecalho-imagem{


         width: 20%;

    }
    
    .cabecalho{



     background-color: darkcyan
    color:black
    display
    }


.cabecalho-lista-item {




    }